<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">Barra de Navegación Young Culture Travel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/"><i class="far fa-list-alt"></i> Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/nuevo"><i class="fas fa-plus-circle"></i> Nuevo Usuario</a>
            </li>

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>