<div class="container">
    <div class="row mt-5" *ngIf="user">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    Detalle
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{user.id}}</li>
                    <li class="list-group-item"><b>Nombre: </b>{{user.nombre}}</li>
                    <li class="list-group-item"><b>Departamento: </b>{{user.departamento}}</li>
                    <li class="list-group-item"><b>Municipio: </b>{{user.municipio}}</li>
                    <li class="list-group-item"><b>Lugar: </b>{{user.lugar}}</li>
                    <li class="list-group-item"><b>Descripcion: </b>{{user.descripcion}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </div>

        </div>
    </div>
</div>