<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Departamento</th>
            <th scope="col">Municipio</th>
            <th scope="col">Lugar</th>
            <th scope="col">Descripcion</th>
            <th scope="col">ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let users of usercrud'>
            <td>{{users.id}}</td>
            <td>{{users.nombre}}</td>
            <td>{{users.departamento}}</td>
            <td>{{users.municipio}}</td>
            <td>{{users.lugar}}</td>
            <td>{{users.descripcion}}</td>
            <td><button class="btn btn-outline-primary" routerLink="/detalle/{{users.id}}"><i class="far fa-eye"></i> Ver</button></td>
            <td>
                <botton class="btn btn-outline-warning" routerLink="/edit/{{users.id}}"><i class="fas fa-user-edit"></i>Editar</botton>
            </td>
            <td><button class="btn btn-outline-danger" (click)="borrar(users.id)"><i class="far fa-trash-alt"></i>Eliminar</button></td>
        </tr>
    </tbody>
</table>